<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="BPIConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BPI_DB.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
   <authentication mode="Forms">
     <!--Important to make sure every Anon user gets redirected to login page-->
     <forms loginUrl="~/Account/LogIn.aspx" timeout="2880"/>
     <!--                       *****                                        -->
   </authentication>
  <compilation debug="true" targetFramework="4.0"/>

	</system.web>

  
</configuration>
