
.BackGround
{
    background-color: #F2FFF2;
}

.BannerBoarder
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #339933;
    width: 100%;
    height: 100%;
}

.BannerBoarder #bp, #ire
{
    font-family: Rockwell;
    font-size: 80px;
    font-weight: lighter;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    color: #FFFFFF;
    width: inherit;
    height: 55px;
    word-spacing: 2px;
    letter-spacing: .3em;
    margin-top: 0;
    margin-bottom: 40px;
}
.BannerBoarder #ire
{
    color: #DDDD04;
}

.BarCodeEntryBg
{
    margin-left: auto;
    margin-right: auto;
    border: thin solid #000000;
    margin-top: 100px;
    width: 400px;
    height: 150px;
    box-shadow: 0 0 20px #000;
    padding-top: 50px;
}

table.center
{
    margin-left: auto;
    margin-right: auto;
}

.ContentPlaceHolder
{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    vertical-align: top;
    height: 100%;
}


.GridBackGround
{
    margin-top: 10px;
}

.GridLbl
{
    font-family: 'Tekton Pro Ext';
    font-size: x-large;
    text-transform: capitalize;
    font-variant: small-caps;
    margin-bottom: 15px;
}

.content
{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0px;
}

.content h1
{
    font-size: 24px;
    font-weight: 400;
    color: #FFBF00;
    letter-spacing: 0.125em;
    float: left;
}

.TxtBoxInput
{
    margin: 10px auto;
    padding: 10px;
    background: #DDDDDD;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 5px;
    outline: none;
    color: #D78100;
    font-weight: bolder;
    letter-spacing: 0.125em;
    text-align: center;
    margin-left: 15px;
    font-size: medium;
}

.LogInBox
{
    width: 280px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    background: green;
    border-radius: 7px;
    box-shadow: 0 0 20px #000;
}

.LogInBox h1
{
    padding-top: 20px;
    font-family: rockwell;
    color: #FFFFFF;
    font-size: xx-large;
    font-variant: small-caps;
    text-transform: capitalize;
}

.LogInBox div
{
    font-family: rockwell;
    color: #DFDF00;
    font-size: large;
    font-variant: small-caps;
    text-transform: capitalize;
}

.Loginbtn
{
    border: thin solid #FFFFFF;
    margin: 10px auto;
    padding: 10px;
    background: #A46922;
    outline: none;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

.Loginbtn:hover
{
    background: #F2FFF2;
    color: Green;
}




.GridViewCss
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 20px #000;
}

.GridViewCss th
{
    font-family: 'Tekton Pro Ext';
    font-size: large;
    text-transform: capitalize;
    font-variant: small-caps;
    color: #FFFFFF;
}

.GridViewCss td
{
    font-family: 'Tekton Pro Ext';
    font-size: large;
    text-transform: capitalize;
    font-variant: small-caps;
    color: #267326;
}

.GridRowStyle
{
    background-color: #F5E7CD;
}

.GridAltRowStyle
{
    background-color: #FBF5EC;
}

.GridPagerStyle
{
    background-color: #83541B;
}
.GridPagerStyle a
{
    margin-left: 15px;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
}

.GridHeaderStyle
{
    background-color: #83541B;
}




.Header
{
    width: 100%;
    height: 50px;
    background-color: #339933;
    vertical-align: middle;
}



.MenuBoxDesign
{
    border: thin solid #FFFFFF;
    border-radius: 5px;
    background-color: #A67C00;
    text-align: center;
    vertical-align: middle;
    font-family: Cambria;
    font-weight: bold;
    font-variant: small-caps;
    color: #FFFFFF;
    font-size: large;
    width: 180px;
    height: 40px;
    display: inline-block;
}

.MenuBoxDesign:hover
{
    background-color: #F2FFF2;
    color: #009933;
}

.MenuBoxDesign a,#lsLogInStatus
{
    height: inherit;
    padding-top: 10px;
}

.MenuBoxHover
{
    background-color: #F2FFF2;
    color: #009933;
}


.MenuHome
{
    margin-left: auto;
    margin-right: auto;
}



.MenuBoxHome
{
    border: thin solid #003300;
    border-radius: 5px;
    background-color: #009933;
    text-align: center;
    vertical-align: middle;
    font-family: Cambria;
    font-weight: bold;
    font-variant: small-caps;
    color: #FFFFFF;
    font-size: large;
    width: 180px;
    height: 40px;
    display: table;
    margin-bottom: 5px;
}

.MenuBoxHome a
{
    height: inherit;
    padding-top: 10px;
}

.MenuBoxSubBack
{
    margin-top: 5px;
}


.MenuBoxHomeHover
{
    background-color: #DDDD04;
    color: #009933;
}



